h1,
p {
  font-family: Lato;
}

.ft-tree-search-container .auto-suggest-container .ft-as-list-con {
  list-style: none;
  padding-left: 10px;
}

.ft-tree-search-container .auto-suggest-container .ft-as-list-item {
  list-style: none;
}

.ft-tree-search-container .auto-suggest-container .ft-as-list-item {
  padding: 5px;
  margin: 2px;
}
